<html>
    <head>
        <title>wi</title>
        <script src="http://jscode.com.br/static/js/itarget/wizard/boot.js"></script>
        <script src="http://jscode.com.br/static/js/itarget/wizard/jsAuth.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <style href="http://jscode.com.br/static/css/itarget/wizard/home.css"></style>
        
    </head>
    <body>
      oi estamos na home para logar  
    </body>
</html>